@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand');

html {
    font-family: 'Just Another Hand', cursive;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

body {
    width: 100%;
    background-color: #F0F8FF;
    margin: auto;
}

.heading {
    position: fixed;
    background: #6396BC;
    width: 100%;
    top: 0;
    left: 0;
}

.mememaker {
    font-size: 70px;
    text-indent: 10%;
    color: #fff;
    margin: 8px 8px 5px 20px;
}

.input {
    float: right;
    padding-left: 10px;
}

.button {
    margin-top: 4px;
}

@media (max-width: 858px) {
    .canvas {
        left: 5%;
        top: 15%;
    }
}